*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
nav{
    background-color: #355070;
    padding: 20px;
    display: flex;
    color: #fff;
}
nav .baseline{
    margin-left: 100px;
}
nav .center{
    display: flex;
    justify-content: space-evenly;
    margin-left: 400px;
}
nav .center a{
    text-decoration: none;
    text-transform: capitalize;
    margin-left: 20px;
    color: #fff;
    margin-top: 6px;
    font-weight: bolder;
}
nav .center a:hover{
    text-decoration: underline;
}
nav .end{
    margin-left: 300px;
}
nav .end 
a{
    text-decoration: none;
}

::placeholder{
    text-align: center;
}
footer{
    margin-top: 200px;
}
footer h1,
footer p,
footer button{
    margin-left: 200px;
    margin-top: 10px;
}
footer button{
    margin-top: 20px;
    border-radius: 10px;
    padding: 5px;
    background-color: #355070;
    color: #fff;
    box-shadow: 2px 2px 3px 5px;
    text-transform: capitalize;
    font-family: sans-serif;
    font-weight: bolder;
}
aside {
    display: flex;
}
main img{
    margin-top: 300px;
    margin-left: 200px
}
@media (max-width:1740px) {
    nav .center{
        margin-left: -10px;
    }
    nav .end{
        margin-left: -2px;
    }
}